.add_todo_btn {
	height: 10.5vw;
	min-height: 7rem;
	width: 5.3vw;
	min-width: 4rem;
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: transparent;
	font-size: 0;
	z-index: 10;
}

.add_todo_btn:hover, .add_todo_btn:focus {
	background-color: rgb(var(--secondary-color), 0.5);
}

.add_todo_btn:hover .plus_icon, .add_todo_btn:focus .plus_icon {
	--color: var(--main-accent-color);

	transform: translateY(-5px) scale(1.15);
}

.add_todo_btn:focus {
	transition: var(--fast-transition-duration);
}

.add_todo_btn:focus .plus_icon {
	transform: translateY(-5px) scale(1);
}