.close_icon {
	--color: rgb(var(--secondary-color));
	--top-el-transformation: rotate(-45deg);
	--bottom-el-transformation: rotate(45deg);
	
	position: relative;
	height: var(--bold-stroke-width);
	width: 3.2rem;
	display: flex;
}

.close_icon:before, .close_icon:after {
	content: '';
	position: absolute;
	height: var(--bold-stroke-width);
	height: 100%;
	width: 100%;
	background-color: var(--color);
}

.close_icon:after {
	transform: var(--top-el-transformation);
}

.close_icon:before {
	transform: var(--bottom-el-transformation);
}